{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}首页{% endblock %}- typeidea博客系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={% static 'css/zui.min.css' %}>
    {% block extra_head %}
    {% endblock %}
    <style>
    .post {
        margin-bottom: 5px;
    }
    </style>
  </head>
  <body>
	<div class="container head">
        <nav class="navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">首页</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
            {% for cate in navs %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'category-list' cate.id %}">{{ cate.name }}</a>
              </li>
            {% endfor %}
            </ul>
            <form class="navbar-form navbar-right form-inline my-2 my-lg-0" action='GET'>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
          </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">Typeidea</h1>
            <p class="lead">基于Django的多人博客系统</p>
        </div>
	</div>
	<div class="container main">
        <div class="row">
            <div class="col-xs-9 post-list">
            {% block main %}
            {% endblock %}
            </div>
            <div class="col-xs-3">
                 <div class="card sidebar">
                     <div class="card-body">
                         <h4 class="card-heading card-title">置顶推荐</h4>
                         <p class="card-content text-muted">
                             <ul>
                             {% for topped_post in topped_posts%}
                             <li><a href="{% url 'post-detail' topped_post.post_id %}">{{ topped_post.title }}</a></li>
                             {% endfor %}
                             </ul>
			 </p>
                     </div>
                 </div>

                {% block sidebar %}
                    {% for sidebar in sidebars %}
                    <div class="card sidebar">
                        <div class="card-body">
                            <h4 class="card-heading card-title">{{ sidebar.title }}</h4>
                            <p class="card-content text-muted">{{ sidebar.content_html }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="footer">
        {% block footer %}
        <div class="container">
            <hr/>
            <nav class="nav category">
	    <ul class="nav navbar-nav">
            {% for cate in categories %}
	    <li>
            <a href="{% url 'category-list' cate.id %}" class="nav-link">{{ cate.name }}</a>
	    </li>
            {% endfor %}
	    </ul>
            </nav>
        </div>
        <div class="container power">
            <span class="text-muted">Power by Typeidea@the5fire</span>
        </div>
        {% endblock %}
    </footer>
  </body>
</html>
